*{
    margin: 0;
    padding: 0;

}

.home-background{
    width: 100%;
    height: 959px;
    overflow: hidden;
    position: absolute;
}

.home-background::after{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,1);
   animation: mask 0.5s forwards;

}

.home-background img {
    width: 100%;
    height: 959px;
    overflow: hidden;
    position: relative;
    animation: mask-img 0.5s reverse;
    
    
}

@keyframes mask-img{
    0% {
        scale: 1;
    }

    100%{
        scale: 1.5;
    }
}

@keyframes mask{
    100% {
        background-color: rgba(0,0,0,0.5);
    }
}


.score{
    width: 200px;
    height: 60px;
    position: relative;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 530px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 28px;
    
}

.score h1{
    color: black;
}

.pikachu-box{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 250px;
    left: 400px;
<<<<<<< HEAD
    
=======
   
>>>>>>> 317ac35 (asd)
}

#pikachu {

    width: 500px;
    height: 500px;
    background-image: url(/img/Pikachu\ big.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: rotation; 
    animation-duration: 6s;  
    animation-iteration-count: infinite; 
    animation-timing-function: linear;  
    
    
}

<<<<<<< HEAD
#pikachu:hover{ 
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
}

=======
>>>>>>> 317ac35 (asd)
#pikachu:active{
    scale: 0.92;
    transition-duration: 0.1s;
    
}

@keyframes rotation{
    0% {
        transform:  rotate(-5deg);} 

    50% {
        transform:  rotate(5deg);} 
    
    100% {
        transform:  rotate(-5deg);} 
    } 



li{
    list-style: none;
}

.game-list{
    width: 30vw;
    height: 100vh;
    width: 472px;
    height: 800px;
    /* background-image: url(./img/pokemon\ background.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 65%;
    display: block;
    overflow: auto;

    
   
}

.game-list:hover{

    /* -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset; */

}

.game-list-block{
    width: 60%;
    height: 20%;
    border: 1px solid black;
    background-color: bisque;
    display: block;
    margin-top: 5%;
    margin-left: 30px;
}



.icons{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 340px;
    margin-top: 130px;
    z-index: 100;
}

.game-list-block p{
    position: absolute;
    font-size: 26px;
    color: black;
    margin-left: 10px;
    margin-top: 50px;
    text-wrap: wrap;
    
}

.game-list-block button{
    display: block;
    width: 100%;
    height: 30px;
    position: relative;
    top: 84%;
    
}

.game-list-block button:hover{
    scale: 0.98;
}

.progress-container{
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-container>p{
    color: black;
}

.progress-bar{
    width: 0%;
    height: 8px;
    background: rgb(228, 224, 23);
}